# Sentiment Analysis for Foody&Fooodie

## Business Understanding

### Overview
Foody&Foodie are a family run restaurant in San francisco, CA. As a veteran in the food business they understand that they will need to keep track of sentiments from their customer base to maintain a competitive edge in the market.

### Problem Statement
The management of Foody&Foodie understand the need to find reliable feedback to guide their decision-making aiming to improve their business and match their markets ever changing needs. 


### Challenges
Within the Food industry, they're several measurable parameters to that determine the success of a restaurant and we must find a neutral data set where all these aspects can be fairly evaluated for an accurate result.

### Proposed solution
We will need to create a model to analyze customer sentiments through reviews on restaurants within the target area using a single popular review site, Yelp, to pull the relevant data as it is the most comprehensive compilation of reviews in the target market.



### Objectives
#### Main Objective
-To create a model that could successfully predict the sentiment of a customerâ€™s review. The model would attain a recall score and accuracy score above 80%

#### Specific Objective
- To identify the most common words used in the dataset using a Word cloud.
- To confirm the most common words that are positively and negatively tagged.
- To recognize the products that have been opined by the customers.
- To spot the distribution of the sentiments.


## Data Understanding
Our dataset is a compilation of writen reviews, ratings, review IDs, review date and business IDs from the Yelp website.

In [1]:
# importing necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
!ls

FOOD&FOODIE.ipynb
FOODY&FOODIE.pptx
README.md
data
data.zip
yelp.csv

In [2]:
# Load restaurant data
# rest_df = pd.read_csv("data.zip")
# Load restaurant data
test_df = pd.read_csv("data.zip", nrows=100000)

In [5]:
test_df.to_csv("test_restaurants.csv")

In [5]:
# Shape
rest_df.shape

(429771, 9)

In [6]:
# Head
rest_df.head(2)

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
0,iBUJvIOkToh2ZECVNq5PDg,iAD32p6h32eKDVxsPHSRHA,YB26JvvGS2LgkxEKOObSAw,5,0,0,0,I've been eating at this restaurant for over 5...,2021-01-08 01:49:36
1,HgEofz6qEQqKYPT7YLA34w,rYvWv-Ny16b1lMcw1IP7JQ,jfIwOEXcVRyhZjM4ISOh4g,1,0,0,0,How does a delivery person from here get lost ...,2021-01-02 00:19:00

In [7]:
# Tail
rest_df.tail(3)

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
429768,PVRvzY0NxSU-fiK3JOXX7w,cTozFTTWjlFYc3yusdbZmA,uMVOtr16r1ELu46pWr4HCQ,1,0,0,0,Just average Thai food tonight. Bangkok has al...,2022-01-18 06:42:59
429769,wD5ZWao_vjyT2h4xmGam8Q,7L7GL5Pi2cf8mbm2Dpw4zw,e_E-jq9mwm7wk75k7Yi-Xw,5,1,0,1,It is very rare for a restaurant to be this go...,2022-01-17 22:36:01
429770,i-I4ZOhoX70Nw5H0FwrQUA,YwAMC-jvZ1fvEUum6QkEkw,Rr9kKArrMhSLVE9a53q-aA,5,1,0,0,For when I'm feeling like ignoring my calorie-...,2022-01-19 18:59:27

In [8]:
# Sample
rest_df.sample(3)

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
390902,ImwFPt7gUEI8QMVbH6YI1A,DQ8SoFlOJmkb5li1xyH_Zg,vGa5Xwkp1zw4kmANvL54Zw,5,0,0,0,We've been coming to this Java House since it'...,2021-10-18 13:20:53
166336,1uYeGBpQhrrcCHqYDM5YXg,a4CkWrr7SO1oSDpR6IayeQ,TF3qNGUBUgIYp6u0j79JHQ,4,1,0,1,This is some delicious grub! We got the pork r...,2021-05-09 02:04:21
422613,ihzb9ff4tGmLtAVYneSFWg,fs1nGDrfwGDdXPt2U5Du6Q,jZApfP5UcBNsJ9qoPJPoxA,5,0,0,0,The food is good. The customers are attractive...,2021-07-11 01:14:48

In [4]:
# Load the dataset
df = pd.read_csv("yelp.csv")

In [5]:
 df.head()

,business_id,date,review_id,stars,text,type,user_id,cool,useful,funny
0,9yKzy9PApeiPPOUJEtnvkg,2011-01-26,fWKvX83p0-ka4JS3dc6E5A,5,My wife took me here on my birthday for breakf...,review,rLtl8ZkDX5vH5nAx9C3q5Q,2,5,0
1,ZRJwVLyzEJq1VAihDhYiow,2011-07-27,IjZ33sJrzXqU-0X6U8NwyA,5,I have no idea why some people give bad review...,review,0a2KyEL0d3Yb1V6aivbIuQ,0,0,0
2,6oRAC4uyJCsJl1X0WZpVSA,2012-06-14,IESLBzqUCLdSzSqm0eCSxQ,4,love the gyro plate. Rice is so good and I als...,review,0hT2KtfLiobPvh6cDC8JQg,0,1,0
3,_1QQZuf4zZOyFCvXc0o6Vg,2010-05-27,G-WvGaISbqqaMHlNnByodA,5,"Rosie, Dakota, and I LOVE Chaparral Dog Park!!...",review,uZetl9T0NcROGOyFfughhg,1,2,0
4,6ozycU1RpktNG2-1BroVtw,2012-01-05,1uJFq2r5QfJG_6ExMRCaGw,5,General Manager Scott Petello is a good egg!!!...,review,vYmM4KTsC8ZfQBg-j5MWkw,0,0,0

In [6]:
df.describe()

              stars          cool        useful         funny
count  10000.000000  10000.000000  10000.000000  10000.000000
mean       3.777500      0.876800      1.409300      0.701300
std        1.214636      2.067861      2.336647      1.907942
min        1.000000      0.000000      0.000000      0.000000
25%        3.000000      0.000000      0.000000      0.000000
50%        4.000000      0.000000      1.000000      0.000000
75%        5.000000      1.000000      2.000000      1.000000
max        5.000000     77.000000     76.000000     57.000000

splitting the data

In [7]:
from sklearn.model_selection import train_test_split

# Define your features and target variable
X = df.drop('stars', axis=1)  # Features (all columns except 'stars')
y = df['stars']               # Target variable

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Check the shape of the resulting sets
print(X_train.shape, X_test.shape)
print(y_train.shape, y_test.shape)

(8000, 9) (2000, 9)
(8000,) (2000,)

processing the data

In [8]:
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize

# Download stopwords if you haven't already
nltk.download('stopwords')
nltk.download('punkt')

# Load the stopwords
stop_words = set(stopwords.words('english'))

def remove_stopwords(text):
    # Tokenize the text
    words = word_tokenize(text)
    # Remove stopwords
    filtered_words = [word for word in words if word.lower() not in stop_words]
    # Join the words back into a single string
    return ' '.join(filtered_words)

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\User\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\User\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [13]:
# Check for missing values
print(df.isnull().sum())

# Drop rows with missing values (if any)
df.dropna(inplace=True)

date                                  0
review_id                             0
stars                                 0
text                                  0
type                                  0
                                     ..
business_id_zwToyWL4dT1clsFPK9wI2w    0
business_id_zxjMiqlfUuIQRltSuj9FpQ    0
business_id_zxqvU415r_RtZRKDtdbIKQ    0
business_id_zyCrtvCPdSZDhUrH86vbeA    0
business_id_zyYRWnimLbQt9aCCI_2MZw    0
Length: 10585, dtype: int64

In [15]:
# One-hot encode the 'user_id' and 'business_id' columns
#df = pd.get_dummies(df, columns=['user_id', 'business_id'])

In [16]:
from sklearn.feature_extraction.text import TfidfVectorizer

# Initialize the TF-IDF Vectorizer
tfidf = TfidfVectorizer(max_features=5000)  # You can adjust the max_features as needed

# Fit and transform the text data
text_tfidf = tfidf.fit_transform(df['text'])

# Convert the sparse matrix to a DataFrame
text_tfidf_df = pd.DataFrame(text_tfidf.toarray(), columns=tfidf.get_feature_names_out())

# Concatenate the TF-IDF features with the original DataFrame
df = pd.concat([df.drop('text', axis=1).reset_index(drop=True), text_tfidf_df.reset_index(drop=True)], axis=1)

In [17]:
from sklearn.preprocessing import StandardScaler

# Initialize the StandardScaler
scaler = StandardScaler()

# Fit and transform the numerical features
numerical_features = ['cool', 'useful', 'funny']
df[numerical_features] = scaler.fit_transform(df[numerical_features])